version: '3.8'

services:
  database:
    image: postgres:16-alpine
    container_name: sistema_cadastro_pets_postgres
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=sistema_cadastro_pets
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: